body {
    color:black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:#E8F5FF;
}

a {
    text-decoration: none;
}

a:visited { 
    color: lightgrey;
}

a:hover {
    text-decoration: underline;
    color:darkturquoise;
}

main {
    display: block;
    width: 1020px;
    position:relative;
    justify-content: left;
    margin-left: 10%;
}

.icons {
    width: 1020px;
}

.icon {
    display:inline-flex;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius:50%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

#man {
    background-image: url('../images/man.png');
}

#woman {
    background-image: url('../images/man.png');
    filter: hue-rotate(150deg);
}

#man_disabled {
    background-image: url('../images/disabled.png');
}

#woman_disabled {
    background-image: url('../images/disabled.png');
    filter: hue-rotate(120deg);
}

#man_child {
    background-image: url('../images/child.png');
    filter: brightness(130%);
}

#woman_child {
    background-image: url('../images/child.png');
    filter: brightness(130%) hue-rotate(150deg);
}

.info-box {
    padding:1%;
    background-color: white;
    border-radius:20px;
    width: 40%;
    margin: 10px;
}

#submitBtn {
    border: 0.5px solid darkslategray;
    border-radius: 8px;
    background-color: aliceblue;
    color:cadetblue;
    width: 140px;
    height: 25px;
}

#submitBtn:hover {
    background-color:darkturquoise;
    color: white;
}

.open-button {
    background-color: grey;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    font-size: 15pt;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(100, 157, 223);
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #2572ad;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15pt;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color:brown;
    font-size : 15pt;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .info-container {
      display: flex;
  }
  